.hdr {
  width: 100%;
  background-color: wheat;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin: none;
  border-radius: 0.5rem;
}
.search {
  display: flex;
  width: 500px;
  border-radius: 10px;
}
